.vscode/
*.mat
data/data_modelo_reconocimiento/digits_yolo/data/**
data/data_modelo_reconocimiento/svhn_yolo/images/**
data/data_modelo_reconocimiento/svhn_yolo/labels/**
data/data_modelo_clasificacion/digits_resnet/data/**
data/data_modelo_clasificacion/digits_resnet/data_cropped/**
data/data_modelo_clasificacion/digits_resnet/digits_resnet_resume.pt